<!DOCTYPE html>
<html>
  <head>
    <title>MeetingMinutes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200&family=Hi+Melody&family=Roboto&display=swap" rel="stylesheet">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag "application-bundle" %>
    <%= stylesheet_link_tag "application" %>

    <meta property="og:title" content="MeetingMinutes"/>
    <meta property="og:image" content="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3430540/clock-icon-md.png"/>
    <meta property="og:description" content="Manage and view your meetings, your way"/>
    <meta property="og:url" content="https://meeting-minutes-95bb945cb360.herokuapp.com/" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
